################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
*.suo
*.ipch
*.db-shm
*.db-wal
*.opendb
*.json
*.sqlite
*.lastbuildstate
*.tlog
*.obj
*.idb
*.pdb
*.ilk
*.exe
*.log
*.txt
*.user
